
body{
	background-image: url(images/background_pic1.jpeg);
}
.nav{

	display: inline;
	color: red;

}
#logo{
	height: 180px;
	width: 180px;
	border-radius: 50%;
	position: relative;
	top: 40px;
}
#logo:hover{
	opacity: 0.5;
	color: grey;
}

ul li{
	margin: 30px;
	display: inline-block;
	font-size: 18px;
	position: relative;
	left: 300px;

}
#church_name{
	position: relative;
	left: 399px;
	bottom:146px;
	top: -100px;
	font-family: 'Alegreya', serif;
	font-size: 50px;
	color: white;
}